/*
h1 =>selector
color=>Property
red=>value 
*/
h1{
color:white;*/=>decoration*/
font-size: 60px;
background-color: darkcyan;
}
h1{
    color: yellowgreen;=>decoration*/
    font-size: 60px;
}


    